doctype html
html
    head
        title="Timestamp Microservice"
        meta(charset="UTF-8")
        meta(
            name="viewport", 
            content="width=device-width, initial-scale=1")
        link(
            rel="stylesheet", 
            href="/public/stylesheets/style.css",
            type='text/css'
            )
    body
        div(class="container")
            h1 Welcome to My Timestamp Microservice
            h2 How To Use
            p 
                | The API can be accessed by appending a string to the url. 
                | If the passed parameter is a natural language date of the 
                | format 'D MMM YYYY' the service will return a JSON object 
                | containing both the natural and unix forms of the date. 
            p
                | If the passed parameter does not match the date format or
                | is not recognised a unix timestamp, an object with null
                | parameters is returned instead.
            h3 Example Usage
            p 
                |  <em>Request</em>: https://infinite-temple-75435.herokuapp.com/5 May 2017
            p  
                |  <em>Response</em>: {"unix":1493942400,"natural":"5 May 2017"}
            p 
                |  <em>Request</em>: https://infinite-temple-75435.herokuapp.com/hithere
            p  
                |  <em>Response</em>: {"unix":null,"natural":null}